.App {
  text-align: center;
  background-color: #1DA1F2;
  min-height: 100vh;
  display:block;
  color: white;
}

.App-header {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Tweets{
  display:flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin: auto;
  width:100%;
  margin-left: auto;
  margin-right: auto;
}

.Tweet-box{
  width: 600px;
  height: 150px;
  background-color: white;
  border-radius: 10px;
}

.Tweet{
  position: absolute;
  width: 600px;
  height: 150px;
}
.Tweet h3{
  padding-top:10px;
}
.Controls{
  margin-top: 0px;
  margin-bottom: 0px;
  display: inline-block;
  align-items: center;
  width:100%;

}
h3{
  margin-block-start: 0px;
  margin-block-end: 0px;
}
h4{
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.Question{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.Yes-btn{
  width: 50px;
  height: 25px;
  background-color: green;
  border-radius: 10px;
  margin-right: 15px;
  margin-left: 15px;
  cursor: pointer;
}
.No-btn{
  width: 50px;
  height: 25px;
  background-color: red;
  border-radius: 10px;
  cursor: pointer;
}
.Submit-btn{
  width: 100px;
  height: 25px;
  color:black;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}

.Next-btn{
  width: 80px;
  height: 25px;
  color:black;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}
.Yes-btn{
  padding-top: 5px;
}
.No-btn{
  padding-top: 5px;
}
.Submit-btn{
  padding-top: 5px;
}
.Next-btn{
  padding-top: 5px;
}

.Controls h3{
  padding-top: 3px;
}

.Yes-btn:hover{
  opacity: .5;
}
.No-btn:hover{
  opacity: .5;
}
.Next-btn:hover{
  opacity: .5;

}
#Q1{
  display: flex;
}
#Q2{
  display: none;
}
#Q3{
  display: none;
}
#Q4{
  display: none;
}
#Q5{
  display: none;
}

@media screen and (max-width:600px){
  .Tweet-box{
    width: 300px;
    height: 300px;
  }
  .Tweet{
    width: 290px;
    height: 300px;
  }
  .Yes-btn{
    margin-right: 7px;
    margin-left: 7px;
  }
  .Question{
    width: 85%;
    margin-left: auto;
    margin-right: auto;

  }
}
